/* @import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap'); */
@font-face {
  font-family: 'Noto Sans JP';
  src: url('../assets/fonts/NotoSansJP/NotoSansJP-Medium.otf');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Noto Sans Medium';
  src: url('../assets/fonts/NotoSans/NotoSans-Medium.ttf');
  font-weight: normal;
  font-style: normal;
}